:root {
  --c-bg: lavender;
  --c-html: orangered;
  --c-css: cornflowerblue;
  --c-js: gold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  position: relative;
  flex: 1;
  resize: none;
  padding: 1rem;
  border: none;
  color: color-mix(in hsl, transparent, black);
  border-right: 2px solid var(--c-bg);
  border-bottom: 2px solid
    color-mix(in hsl, transparent, var(--c-bb, var(--c-bg)));
  transition: color 300ms, border-color 300ms, background-color 300ms;
  box-shadow: inset -10px 0 16px -8px var(--c-bg);
}

textarea:focus-visible {
  outline: none;
  color: black;
  background-color: color-mix(in hsl, transparent, var(--c-bg) 20%);
  border-right-color: color-mix(in hsl, transparent, var(--c-br));
}

#html {
  --c-br: var(--c-html);
}

#js {
  --c-br: var(--c-js);
}

#css {
  --c-br: var(--c-css);
  --c-bb: transparent;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}
